<header></header>
<section class="content"></section>

<script>
  <% if current_user %>
    var CURRENT_USER = new GoodTomes.Models.User({ id: <%= current_user.id %>});
    CURRENT_USER.fetch();
  <% end %>
</script>
