<div class="user-index-item index-item thumbnail">
  <a href="#/users/<%= user.id %>">
    <div class="index-item-image">
      <img src="<%= user.escape("image_url") %>" />
    </div>
    <div class="index-item-content">
      <%= user.escape("username") %>
    </div>
  </a>
</div>
