<h2 id="your-review">Your Review of <%= tome.escape("title") %></h2>
<div class="user-review">
</div>

<div class="review-form"></div>

<h2>All Reviews of <%= tome.escape("title") %></h2>

<div class="reviews-index">
</div>
