<div class="form-errors"></div>
<div class="form-group clear-fix">
  <input type="text" name="review[title]" value="<%= review.escape("title") %>" placeholder="Title (optional)" class="form-control input-sm title-input">

  <select id="rating" name="review[rating]">
    <option value="1">1</option>
    <option value="2">2</option>
    <option value="3">3</option>
    <option value="4">4</option>
    <option value="5">5</option>
  </select>
</div>

<div class="form-group">
  <textarea name="review[body]" placeholder="Body (optional)" class="form-control"><%= review.escape("body") %></textarea>
</div>

<button type="submit" class="btn btn-default">Save Review</button>
<button type="button" class="cancel-form btn btn-warning">Cancel</button>
