<div class="login-wrapper">
  <div class="user-form-wrapper">
    <form class="user-form" action="<%= url %>" method="post">
      <%= auth_token %>
      <% if edit %>
        <input type="hidden" name="_method" value="patch">
      <% end %>

      <label>WizardName
        <input type="text" name="user[username]" placeholder="WizardName" value="<%= @user && @user.username %>">
      </label>

      <label>Password
        <input type="password" name="user[password]" placeholder="Password">
      </label>

      <input type="submit" value="<%= submit_value %>" class="btn btn-primary">
    </form>
  </div>
