<div class="tome-index-item index-item">
  <div class="index-item-image">
    <a href="#/tomes/<%= tome.id %>">
      <img src="<%= tome.escape("cover_url") %>" />
    </a>
  </div>
  <div class="index-item-content">
    <a href="#/tomes/<%= tome.id %>"><%= tome.escape("title") %></a>
  </div>
</div>
