<div type="button" class="add-to-shelf btn btn-primary">
  <%= shelf.escape("title") %>
</div>
<button type="button" class="remove-from-shelf btn btn-danger">
  <i class="fa fa-times-circle"></i>
</button>
