<div class="tome-index-item index-item">
  <a href="#/tomes/<%= tome.id %>">
    <div class="index-item-image">
      <img src="<%= tome.escape("cover_url") %>" />
    </div>
    <div class="index-item-content">
      <%= tome.escape("title") %><br>
      <span class="author">Mysterious Wizard</span>
    </div>
  </a>
</div>
