@import "bootstrap-sprockets";
@import "bootstrap";

@import "font-awesome-sprockets";
@import "font-awesome";
@import "fontawesome-stars";

@import "landing";
@import "header";
@import "show";
@import "review";
@import "rate";
@import "shelves";
@import "index_item";


html {
  position: relative;
  width: 100%;
  height: 100%;
}

body, a, p, h1, h2, h3, h4, h5, h6 {
  color: #181818;
}

body, p, a {
  font-family: 'Roboto', sans-serif;
}

li, li a, .btn {
  font-family: 'Roboto Condensed', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Yanone Kaffeesatz', sans-serif;
}

h1.index-header {
  margin-left: 30px;
}

body {
  background:
    url('/assets/alejandroescamilla-book.png') no-repeat bottom center fixed,
    #b5b09c;
  background-size: contain, 100% 50%;
  padding-top: 70px;
  padding-bottom: 450px;
  font-size: 16px;
}

.clear-fix:after {
  content: " ";
  height: 0px;
  clear: both;
  display: block;
}

.alert {
  text-align: center;
}

.review .thumbnail {
  max-width: 75px;
}
