header {
  .navbar-default {
    background-color: #F0F0E4;
    border-bottom: 4px #E3DFC9 ridge;

    .navbar-nav {
      li > a { display: inline-block; }
      .multi-link a:first-of-type { padding-right: 0; }
      .multi-link a:last-of-type {
        padding-left: 5px;
        font-size: 12px;
      }

      .sign-out {
        padding-top: 15px;
        padding-bottom: 15px;
        border: none;
        background: transparent;
        color: #777;
      }

      .sign-out:hover { color: #333 }
    }

    form { height: 0; }
  }

  .navbar-right { margin-right: 0; }
  .navbar-brand { padding: 0 10px 5px; }
  .logo { height: 100%; }
}
